services:
  db:
    container_name: db
    image: postgres:18.1-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - 5433:5432
volumes:
  postgres_data:




